amqp
asgiref
billiard
bleach
bootstrap4==0.1.0
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
contourpy
cycler
distlib
Django
django-ckeditor
django-crispy-forms==2.0
django-filter==23.2
django-js-asset
django-mptt==0.14.0
django-summernote==0.8.20.0
django-taggit==4.0.0
djangorestframework==3.14.0
env==0.1.0
filelock==3.12.0
fonttools
idna==3.4
kiwisolver==1.4.4
kombu
matplotlib
numpy
packaging==23.1
Pillow==9.5.0
pipenv==2023.6.2
platformdirs==3.5.1
prompt-toolkit==3.0.39
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
stripe==5.5.0
tzdata==2023.3
urllib3==2.0.4
vine==5.0.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
wcwidth==0.2.6
webencodings==0.5.1
gunicorn==20.1.0
django-recaptcha
