{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}
	Sign up to get a new account with us. The Perfect Restarount Shop has a variety of stunning and comfy cushions.
{% endblock %}
{% block title %}
	Create a New Account - Perfect Restarount Shop
{% endblock %}
{% block content %}
<html>
	<head>
		<style>
			input{
				border-bottom: 1px solid #cda45e;
				background-color: none !important;
			}

			.btn {
				margin-top: 1em; 
				background-color: #cda45e; 
				border: 1px solid #cda45e;
				transition: all .3s ease-in-out;
			}

			.btn:hover {
				background-color: #f8b43d;
				border: 1px solid #f8b43d;
			}
		</style>
	</head>
<body>
	<div style="margin-top: 7em !important;">
		{% if not form.is_valid %}
			<div class="mx-auto">
				<br>
				<h1 class="my_title text-center">Create a new account</h1>
				<br>
				<div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
					<br>
					<p>Enter the following information to create a new account.</p>
					<form method="post">
						{% csrf_token %}
						<p>{{ form.as_p }}</p>
						<button type="submit" class="btn btn-secondary">Register Account</button>
					</form>
					<br>
				</div>
			</div>
		{% else %}
			<div class="mx-auto">
				<br>
				<h1 class="my_title text-center">Your account has been successfully created</h1>
				<br>
				<div style="text-align: center !important;">
					<img style="width: 10%; height: 20vh;" src="https://gifdb.com/images/high/green-circle-ok-check-mark-6uvrba3bd0fi8ue9.gif" alt="">
					<p>
						Dear Customer,
						<br>
						<br>
						Your account has been created and it is ready to use.
						<br>
						<a href="{% url 'shop:allProdCat' %}">Continue shopping</a> and enjoy the variety of cushions that we have at the perfect cushion store.
					</p>
				</div>
			</div>

		{% endif %}
	</div>
	<br>
</body>
</html>
{% endblock %}